.con-pb{
  &__block{
    padding: 15px 20px;
    background: linear-gradient(to right, #f2f2f2, #ccc);
  }
  &__product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
  }
  &__product-qty{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    color: #ccc;
  }
  &__product-btn{
    border-radius: 50%;
    background: green;
    border: 1px solid green;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  &__product-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__product-right{
    text-align: right;
  }
}